@import "./src/scss/utils/vars";
@import "src/scss/utils/mixins";

.block-reason{
  width: 100%;
  height: 383px;
  padding: 41px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 10px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position-x: 80% !important;
  @include mediaWidth_570{
    padding: 15px 15px;
  }
  h2{
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    font-family: $headingFonts;
    margin-bottom: 20px;
    line-height: 46px;
  }
  h3{
    font-size: 35px;
    color: #fff;
  }
}