@import "./src/scss/utils/vars";
@import "src/scss/utils/mixins";

.wrapper {
    width: 1178px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 14px;

    h2 {
        color: white;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-align: center;
    }

    p {
        margin-top: 20px;
        color: white;
        text-align: start;

        li {
            list-style: disc;
        }
    }

      @include mediaWidth_767{
            max-width: 95%;
      }
}