.area {
  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding: 12px 22px;
  transition: all ease 0.3s;

  &:hover {
    border: 1px solid #aaaaaa;
    background: #f5f5f5;
  }
}

.number {
  color: #1b1b1b;
  font-family: "Rubik-regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1.76px;
}

.text {
  color: #1b1b1b;
  font-family: "Rubik-regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px; /* 118.75% */
}
