@import "./src/scss/utils/vars";
@import "src/scss/utils/mixins";

.section-table{
  padding-top: 0;
  padding-bottom: 100px;
  border-bottom: 1px solid #DADADA;
  background: #F2F2F2;
  h2{
    margin-bottom: 30px;
  }
}


.container-table{
  background: #fff;
  padding: 30px;
  box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
  border-radius: 10px;
}
.tr:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tr:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tr{
  display: flex;
  border: 1px solid #DADADA;
    @include mediaWidth_767{
      display: block;

    }
  //-moz-border-radius-topleft: 10px;
  //-moz-border-radius-topright: 10px;
  .td{
    padding: 27px 30px;
    //padding-top: 27px;
    //padding-bottom: ;
  }

  .td:first-child{
    flex-grow: 1;
    border-right: 1px solid #DADADA;
    //&:before{
    //  position: absolute;
    //  content: '';
    //  display: inline-block;
    //  background: #DADADA;
    //  height: 100%;
    //  width: 1px;
    //  right: 0;
    //  top: 0;
    //}
  }
  .td:last-child{
    width: 117px;
  }
}